* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  width: 100vw;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline;
  margin-left: 20px;
}
.navbar ul li a {
  font-family: verdana;
  font-size: 12pt;
  text-decoration: none;
  color: #000;
  transform: ease 0.5s;
}
.navbar ul li a:hover {
  color: #999;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
}
.cards {
  width: 30vw;
  height: 60vh;
  border: 1px solid silver;
}
.panel {
  width: 65vw;
  height: 60vh;
  border: 1px solid silver;
}
.waitlist,
.plans,
.balance {
  width: 20vw;
  height: 50vh;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #eee;
  margin-top: -50px;
  background-color: #fff;
  padding: 50px;
  text-align: center;
}
.cards img {
  width: 100px;
  height: 120px;
  cursor: pointer;
  transition: ease 0.5s;
}
.cards img:hover {
  margin-left: 50px;
}
.balance p {
  margin: 10px;
  font-weight: bold;
}
.valuebalance {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.valuebalance p {
  margin: 10px;
}
.plans h2 {
  font-size: 12pt;
}
.plans h3 {
  margin: 10px;
  color: silver;
  font-size: 10pt;
}
.plans a {
  padding: 20px;
  background-color: orange;
  color: #fff;
  border-radius: 5pt;
  margin-top: 50px;
  display: block;
  text-decoration: none;
}
.waitlist div {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: -100px;
  box-shadow: 0px 0px 5px #ddd;
  padding-top: 10px;
  text-align: center;
  margin-left: 30%;
}
.waitlist div img {
  width: 70%;
  height: auto;
}
.waitlist input {
  padding: 10px;
  background-color: beige;
  border-radius: 10px;
  margin-top: 50px;
  border: 0px;
  margin-bottom: 50px;
}
.waitlist a {
  padding: 10px;
  font-size: 10pt;
  background-color: #fa3f6c;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  width: 100%;
}
.waitlist p {
  display: flex;
  flex-direction: row;
}
.linha {
  position: relative;
  width: 200px;
  top: 100px;
  left: -20px;
}
.login {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  width: 100vw;
  height: 150vh;
  text-align: center;
  padding-top: 100px;
}
.login input {
  margin: 10px;
  padding: 10px;
}
.login button {
  padding: 10px;
  margin: 10px;
}
